<template name="checkout">

<input type="text" class="input input-box firstname" placeholder="firstname">
<input type="text" class="input input-box lastname" placeholder="firstname">
<input type="text" class="input input-box email" placeholder="firstname">
<input type="text" class="input input-box phone" placeholder="firstname">
<input type="text" class="input input-box address" placeholder="firstname">
<input type="text" class="input input-box apt" placeholder="firstname">
<input type="text" class="input input-box city" placeholder="firstname">
<input type="text" class="input input-box state" placeholder="firstname">
<input type="text" class="input input-box zipcode" placeholder="firstname">
<input type="text" class="input input-box instruction" placeholder="firstname">

<input type="btn" class="btn btn-primary save" value="save">
<input type="btn" class="btn btn-primary complete" value="complete order">


</template>