<template name="dashboard" >

  
  <div class="col-md-2 filter-container">

  <div>Filter<a class="" style="padding-left:10px;">clear all</a></div>
  <br>
 
  <br>
  <div>Cuisines<a class="" style="padding-left:10px;">clear</a></div>
  <br>

  
  <input type="checkbox" name="chinese" value="chinese">
  apple
  <br> 
  <input type="checkbox" name="apple" value="sushi"> 
  peaches
  <br>
  <input type="checkbox" name="pear" value="cheese"> 
  peaches
  <div></div>
  <br>

  <div>Cuisines<a class="" style="padding-left:10px;">clear</a></div>
  <br>


  <input type="checkbox" name="chinese" value="chinese">
  apple
  <br> 
  <input type="checkbox" name="apple" value="sushi"> 
  peaches
  <br>
  <input type="checkbox" name="pear" value="cheese"> 
  peaches<div></div>
  <br>

  <div>Cuisines<a class="" style="padding-left:10px;">clear</a></div>
  <br>


  <input type="checkbox" name="chinese" value="chinese">
  apple<br> 
  <input type="checkbox" name="apple" value="sushi"> 
  peaches<br>
  <input type="checkbox" name="pear" value="cheese"> 
  peaches<br>
  <div></div>
  </div>


  <div class="template-dashboard ">

    <div class="page-header">
      <h1><a>Menu</a></h1>
    </div>



    <ul class="list-group">

      {{#each restaurants}}
       <li class="list-group-item col-md-9">
          
          <span>
          <img src="http://www.cmu.edu/dining/images/food-400/sushi.jpg" width="100" height="75" > 
                <a href="{{pathFor 'menu'}}">{{ name }}</a> 


              
         
            <table class="">      
            Address:{{address}}
            Zipcode:{{zipcode }}
            Crusine:{{crusine}}
            Rating:{{rating}}<div class="fa fa-star"> </div>

             </table>
          
          </span>
         
      </li>
           {{/each}}
    </ul>
  </div>
</template>
